<!--<!DOCTYPE html>-->
<!--
<html>

<head>
    <meta charset="utf-8">
    <title>calandar settings</title>
    <script src="../bower_components/moment/min/moment.min.js"></script>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-bootstrap-calendar/dist/js/angular-bootstrap-calendar-tpls.min.js"></script>
    <script src="calendar.controller.js"></script>
    <script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../bower_components/angular-bootstrap-calendar/dist/css/angular-bootstrap-calendar.min.css" rel="stylesheet">


     <script src="calendar.controller.js"></script> 
     <script src="eventFactory.js"></script>

     <link type="text/css" rel="stylesheet" href="css/style.css">

    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
</head>

<body ng-app="coffee-time">
-->

<!--
  <div class="view">
           <h2 class="text-center">{{vm.calendarTitle}}</h2>
        <div class="box">
            <div class="text-center">

                <div class="btn-group">
                    <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'year'">Year</label>
                    <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'month'">Month</label>
                    <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'week'">Week</label>
                    <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'day'">Day</label>
                    <label class="btn btn-primary" ng-click="vm.addEvent()">Add Event</label>
                </div>
            </div>
        </div>
        <mwl-calendar events="vm.events" view="vm.calendarView" view-date="vm.viewDate"
    view-title="vm.calendarTitle"
    view-date="vm.viewDate">
        </mwl-calendar>
        <div class="box1"
        ng-hide="vm.showAdd">

          <div class="box">


              <br class="visible-xs visible-sm">

              <h3 id="event-editor">
            Edit events
            <button
              class="btn btn-primary pull-right"
              ng-click="vm.applyEvent();">
              Add new
            </button>
            <button
              class="btn btn-primary pull-right"
              ng-click="vm.closeWindow()">
              close
            </button>
            <div class="clearfix"></div>
          </h3>

              <table class="table table-bordered">
                  <thead>
                      <tr>
                          <th>Title</th>
                          <th>Starts at</th>
                          <th>Ends at</th>
                      </tr>
                  </thead>

                  <tbody>
                      <tr ng-repeat="event in vm.events track by $index">
                          <td>
                              <input type="text" class="form-control" ng-model="event.title">
                              <button class="btn btn-danger" ng-click="vm.deleteEntry($index)">
                    Delete
                  </button>
                          </td>
                          <td>
                              <p class="input-group" style="max-width: 250px">
                                  <input type="text" class="form-control" readonly uib-datepicker-popup="dd MMMM yyyy" ng-model="event.startsAt" is-open="event.startOpen" close-text="Close">

                                  <span class="input-group-btn">
                      <button
                        type="button"
                        class="btn btn-default"
                        ng-click="vm.toggle($event, 'startOpen', event)">
                        <i class="glyphicon glyphicon-calendar"></i>
                      </button>
                    </span>
                              </p>
                              <div uib-timepicker ng-model="event.startsAt" hour-step="1" minute-step="15" show-meridian="true">
                              </div>
                          </td>
                          <td>
                              <p class="input-group" style="max-width: 250px">
                                  <input type="text" class="form-control" readonly uib-datepicker-popup="dd MMMM yyyy" ng-model="event.endsAt" 
                                  is-open="event.endOpen" close-text="Close">
                                  <span class="input-group-btn">
                      <button
                        type="button"
                        class="btn btn-default"
                        ng-click="vm.toggle($event, 'endOpen', event)">
                        <i class="glyphicon glyphicon-calendar"></i>
                      </button>
                    </span>
                              </p>
                              <div uib-timepicker ng-model="event.endsAt" hour-step="1" minute-step="15" show-meridian="true">
                              </div>
                          </td>
                      </tr>
                  </tbody>

              </table>
          </div>
        </div>
    </div>
-->

<!--
</body>

</html>
-->
