<!DOCTYPE html>
<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <link href="index.css" rel="stylesheet" />
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="bower_components/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body style=" width: 60%; margin-top: 200px; margin: 0 auto;height: 600px; overflow:scroll;" ng-style="weatherBackground" class="text-center" ng-app="weatherApp" ng-controller="weatherCtrl">
    <div class="btn" style=" width: 97%; font-size: 20px; margin-bottom: 10px; background-color:rgba(0,0,0,0.5); color:white; height: 50px;">
        Forecast
        <a href="index.html" data-toggle="tooltip" data-placement="left" title="Go back!" <i style=" float: left; margin-top: 5px; color:black;" class="fa fa-arrow-left" aria-hidden="true"></i>
        </a>
      <a href="next3.html" data-toggle="tooltip" data-placement="left" title="Next!"   <i style=" float: right; margin-top: 5px; color:black;" class="fa fa-arrow-right" aria-hidden="true"></i>
      </a>
    </div>

    <div class="row">
        <div class="row-height">

            <div class="btn-group-vertical" style="margin-top: 0px; width:94%;">
                <button  style=" height: 50px;" class="btn btn-primary"> City - {{joke}} </button>
                <button style=" height: 50px;" class="btn btn-primary"> Wind Speed -  {{speed}} </button>
                <button style=" height: 50px;" class="btn btn-primary" ng-init="tempVal=true" ng-show="tempVal" ng-click="tempVal=!tempVal"> {{fTemp}} (C/F)  </button>
                <button style=" height: 50px;" class="btn btn-primary" ng-show="!tempVal" ng-click="tempVal=!tempVal"> {{cTemp}} (C/F)  </button>
                <button style=" height: 50px;" class="btn btn-primary"> Description - {{description | uppercase}} <img ng-src="{{icon}}"/> </button>


            </div>
        </div>

    </div>

    <script src="next.js">
    </script>
</body>

</html>
