<div>

  <td>
      <p class="input-group" style="max-width: 250px">
          <input type="text" class="form-control" readonly uib-datepicker-popup="dd MMMM yyyy" ng-model="event.startsAt" is-open="event.startOpen" close-text="Close">

          <span class="input-group-btn">
              <button
                type="button"
                class="btn btn-default"
                ng-click="vm.toggle($event, 'startOpen', event)">
                <i class="glyphicon glyphicon-calendar"></i>
              </button>
            </span>
      </p>
      <div uib-timepicker ng-model="event.startsAt" hour-step="1" minute-step="15" show-meridian="true">
      </div>
  </td>
  <td>
      <p class="input-group" style="max-width: 250px">
          <input type="text" class="form-control" readonly uib-datepicker-popup="dd MMMM yyyy" ng-model="event.startsAt" is-open="event.startOpen" close-text="Close">

          <span class="input-group-btn">
              <button
                type="button"
                class="btn btn-default"
                ng-click="vm.toggle($event, 'startOpen', event)">
                <i class="glyphicon glyphicon-calendar"></i>
              </button>
            </span>
      </p>
      <div uib-timepicker ng-model="event.startsAt" hour-step="1" minute-step="15" show-meridian="true">
      </div>
  </td>
  <br><br><br>


</div>
