body {
	background-image: url("../images/bg.jpg");
	background-size: cover;
}
#nav{
	height: 100%;
	width: 100%;
	margin: 0 !important;
}

#home, #newWeather{
	padding: 0 !important;
	margin: 0 !important;
}
.container-fluid {
	margin: 20px;
}

		.row > div {
			margin-bottom: 15px;
		}

		.header {
			min-height: 90px;
		}

		.footer {
			min-height: 60px;
		}

		.header {
			background-image: url('../images/texture.png');

		}

		.footer {
			background: #2f2f2f;
		}

		.sidebar {
			min-height: 300px;
			background: #dbdfe5;
		}

		.content-top {
			padding: 9px;
			min-height: 160px;
			background-image: url('../images/texture.png');
			color: white;
		}

		.content-bottom {
			padding: 6px;
			min-height: 125px;
			background-color: rgba(0, 22, 44, 0.8);
			margin-bottom: -15px;
			color:white;
		}

		.content-bottom.bg-alt {
			width:100%;
			height: 20em;
		}

.box1 {
	z-index: 1000;
	padding: 15px;
	position: absolute;
	top: 10%;
	left: 5%;
	width: 90%;
	background: white;
	border: 1px black solid;
	padding: 5px;
}

/*Navbar config*/

.navbar {
	border-radius: 0px;
	background-image: url("../images/texture.png");
	background-repeat: repeat;
	padding: 5px;
}

.img-circle {
	padding: 8px;
	width: 130px;
}

#user {
	padding-top: 70px;
}


.li {
	margin: 5px;
}

.logo {
	padding-top: 5px;
	margin-left: -20px;
	width: 160px;
}


/*Container Config*/

section {
	padding-top: 75px;
}

.row {

	margin-right: -15px;
  margin-left: -15px;
}

.col-md-6 {
	padding-left: 15px;
	padding-right: 15px;
}

.col-md-7 {
	border-top-left-radius: 70px;
	border-bottom-left-radius: 70px;
}

.col-sm-8,
.col-sm-4,
.col-sm-12,
.col-sm-6,
	.col-sm-2{
	padding: 0px;
	box-sizing: border-box;

/*	margin-left: 15px;	*/
/*	border: 1px solid;*/
/*	height: 37em;*/
		background-color: rgba(0, 22, 44, 0.8);
	min-height: 20em;
	border: 1px solid;
	border-color: rgba(255, 255, 255, .4);


	overflow: hidden;
}

#padding {
	padding: 7px;
}

.view {
	/*	overflow:hidden;*/
	height: inherit;
	width: 100%;
}

.view2 {
	box-sizing: border-box;
	padding: 5px;
	height: inherit;
	width: 100%;
	/*	border: 1px solid white;*/
	/*	background-color: rgba(255, 255, 255, .5)*/
}

.view3 {
	box-sizing: border-box;
	padding: 5px;
	/*	overflow:scroll;*/
	height: inherit;
	max-width: 100%;
	max-height: 100%;
}

.tag {
	float: left;
	position: relative;
	left: 0px;
	top: -10px;
	z-index: 1000;
	background-color: rgba(0, 0, 0, .4);
	padding: 5px;
	color: #FFFFFF;
	font-weight: bold;
}

#cash {
	left: -19px;
}

.box {
	margin: auto;
}

/*Calendar App Styles*/

mwl-calendar {
	background-image: url("../images/bg.jpg");
}
#cal {
/*	background-image: url("../images/bg.jpg");*/
}

.modal {
	margin: auto;
	width: 80%;
	margin-top: 40px;
	margin-bottom: 40px;
/*	height: 90%;*/
	background-color: white;
}

.modal-header {
	background-image: url('../images/bg.jpg');
	background-size:cover;

			color: white;

}

ds-widget-clock {
	width: 100%;
}

#clockSize1{
		display: block;
	}

#clockSize2{
		display: none;
	}




@media only screen and (min-device-width: 320px) and (max-device-width: 475px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
	.navbar {
		background-image: url("../images/texture.png");
		background-repeat: repeat;
		padding: 7px 0px 12px 0px;
		display: flex;
		align-content: center;
	}


	h2 {
		font-size: 15px;
	}
	.logo {
		width: 500px;
	}

}


@media (max-width: 991px) {
			.content-bottom {
				margin-bottom: 15px;
			}
	#clockSize1 {
		display: none;
	}

		#clockSize2 {
		display:block;
		padding-right: 4em;
	}
			.content-bottom.bg-alt {
				margin-bottom: -15px;
			}
		}
