body {
	background-image: url("../images/bg.jpg");
}

.container-fluid {
	margin:20px;
}
/*Navbar config*/

.navbar {
	border-radius: 0px;
	background-image: url("../images/texture.png");
	background-repeat: repeat;
	padding: 5px;
}


.


.li {
	margin: 5px;
}

.logo {
	width: 160px;
}

/*Container Config*/

section {
	padding-top: 75px;
}

.row {
	position: relative;
	padding-top: 95px;

}

.col-sm-8,
.col-sm-4,
.col-sm-12{
	padding: 0px;
	
	/*margin: 1px;*/
	
/*	margin: 5px;*/
	border: 1px solid;
	border-color: rgba(255,255,255, .4);
	min-height: 31em;
	background-color: rgba(0,0,0, 0.8);
	color:white;
	overflow: hidden;
}

.view {
  
/*	overflow:hidden;*/
  height:inherit;
  width: 100%;
	
}

.view2 {
  box-sizing: border-box;
	padding: 5px;
/*	overflow:scroll;*/

  height:inherit;
  width: 100%;
	/*margin: 1px;*/
	box-sizing: border-box;
/*	margin: 5px;*/
	border: 1px solid white;
	height: 30em;
	background-color: rgba(255, 255, 255, .5)
}

.view3 {
  box-sizing: border-box;
	padding: 5px;
/*	overflow:scroll;*/
  height:inherit;
  max-width: 100%;
	max-height: 100%;
	
}


.tag{
	 float: left;
   position: relative;
   left: 0px;
   top: -10px;
   z-index: 1000;
   background-color: rgba(0,0,0, .4);
   padding: 5px;
   color: #FFFFFF;
   font-weight: bold;
}

#cash {
	left: -19px;
}


.box {
	margin: auto;
}

.agenda {  }

/* Dates */
.agenda .agenda-date { width: 170px; }
.agenda .agenda-date .dayofmonth {
  width: 40px;
  font-size: 36px;
  line-height: 36px;
  float: left;
  text-align: right;
  margin-right: 10px; 
}
.agenda .agenda-date .shortdate {
  font-size: 0.75em; 
}


/* Times */
.agenda .agenda-time { width: 140px; } 


/* Events */
.agenda .agenda-events {  } 
.agenda .agenda-events .agenda-event {  } 




@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
	.navbar {
		background-image: url("../images/texture.png");
		background-repeat: repeat;
		padding: 7px 0px 12px 0px;
		display: flex;
		align-content: center;
	}
	.logo {
		width: 500px;
	}
	.col-sm-8,
  .col-sm-4,
  .col-sm-12{
	   padding: 0px;
	
	/*margin: 1px;*/
	
/*	margin: 5px;*/
	border: 1px solid;
	border-color: rgba(255,255,255, .4);
	min-height:75px;
	background-color: rgba(0,0,0, .5);
	color:white;
/*	overflow: hidden;*/
}
	
}


}
