body {
	background-image: url("../images/bg.jpg");
}

.container-fluid {
	margin: 20px;
}

.box1 {
	z-index: 1000;
	padding: 15px;
	position: absolute;
	top: 10%;
	left: 5%;
	width: 90%;
	background: white;
	border: 1px black solid;
	padding: 5px;
}

/*Navbar config*/

.navbar {
	border-radius: 0px;
	background-image: url("../images/texture.png");
	background-repeat: repeat;
	padding: 5px;
}

.img-circle {
	width: 130px;
}

#user {
	padding-top: 70px;
}


.li {
	margin: 5px;
}

.logo {
	padding-top: 5px;
	width: 160px;
}


/*Container Config*/

section {
	padding-top: 75px;
}

.row {
	position: relative;
	padding-top: 3px;
}

.col-sm-8,
.col-sm-4,
.col-sm-12 {
	padding: 0px;
	box-sizing: border-box;
	border: 1px solid;
	height: 34em;
	min-height: 15em;
	border: 1px solid;
	border-color: rgba(255, 255, 255, .4);
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
	overflow: hidden;
}

#padding {
	padding: 7px;
}

.view {
	/*	overflow:hidden;*/
	height: inherit;
	width: 100%;
}

.view2 {
	box-sizing: border-box;
	padding: 5px;
	height: inherit;
	width: 100%;
	/*	border: 1px solid white;*/
	/*	background-color: rgba(255, 255, 255, .5)*/
}

.view3 {
	box-sizing: border-box;
	padding: 5px;
	/*	overflow:scroll;*/
	height: inherit;
	max-width: 100%;
	max-height: 100%;
}

.tag {
	float: left;
	position: relative;
	left: 0px;
	top: -10px;
	z-index: 1000;
	background-color: rgba(0, 0, 0, .4);
	padding: 5px;
	color: #FFFFFF;
	font-weight: bold;
}

#cash {
	left: -19px;
}

.box {
	margin: auto;
}

/*Calendar App Styles*/

mwl-calendar {
	background-image: url("../images/bg.jpg");
}
#cal {
/*	background-image: url("../images/bg.jpg");*/
}

.modal {
	margin: auto;
	width: 90%;
	height: 90%;
	background-color: white;
}

ds-widget-clock {
	width: 100%;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
	.navbar {
		background-image: url("../images/texture.png");
		background-repeat: repeat;
		padding: 7px 0px 12px 0px;
		display: flex;
		align-content: center;
	}
	.logo {
		width: 500px;
	}
	.col-sm-8,
	.col-sm-4,
	.col-sm-12 {
		padding: 0px;
		border: 1px solid;
		border-color: rgba(255, 255, 255, .4);
		min-height: 75px;
		background-color: rgba(0, 0, 0, .5);
		color: white;
		/*	overflow: hidden;*/
	}
}


}