#weather{
  float: left;
  width: 97%;
  font-size: 20px;
  margin-bottom: 10px;
  color:white;
  height: 50px;
}
#weather a{
  float: right;
}
body::-webkit-scrollbar {
    display: none;
}
body{
  width: 60%;
  margin: auto 0;
  display: inline-block;

}

.eachData{
  color: white;
  background: rgba(0,0,0,.5);
  text-align: center;
  height: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.eachData1{
  color: white;
  background: rgba(0,0,0,.5);
  text-align: center;
  height: 50px;

  margin-bottom: 5px;
}

.weatherParent{
  width: 100%;
  text-align: center;
}
#text{
  text-align: center;
margin-right: 15px;
}

#ro{
  /*width: 100%;*/
  text-align: center;

}

#nav{
  background-color: rgba(0,0,0,0.5);
  width: 50%;
  margin-left: 60%;
  margin-top: 20%;

}
#nav a, #nav i, #nav p {
  color: white;
}
@media (max-width: 800px) {
    #weather i {
        display: none;
    }
    #ro{
      width: 105%;
      margin-top: 20%;
    margin-left:0;
    }
    #nav{
      width: 150%;
      margin-left:0px;

    }

  #body {

        background-image: none
    }
    .weatherParent{
      width: 80%;
margin-left: 50px;
    }
    .pull-left{
      display: none
    }



}
