<div class="container-fluid  newsView">
      <div class="row">
      <div class="col-md-4">

        <h3>Breaking News</h3>
    <div class="row spacer" ng-repeat="item in vm.headlines" ng-if="$index < 7">
     <a ng-href ='{{vm.url}}' ng-mouseover = "vm.clickTitle(item)"><h4>{{item.title}}</h4>
     </a>
    </div>
  </div>

  <div class="col-md-8">
      <!-- <a ng-href ='{{vm.url}}'><h2>{{vm.title}}</h2></a> -->
      <h3>{{vm.title}}</h3>
      <div class = "thumbnail"><img  src = {{vm.image}}>
      <div class="caption post-content"<solid>{{vm.description}}<solid>
      </div>
    </div>

    </div>
  </div>
</div>