<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <script type="text/javascript">
        window.addEventListener('load', load);
        var storedValue =localStorage.getItem('storedValues');

        var section = document.getElementsByClassName("container-fluid");
        function load(){
            section.innerHTML= storedValue;
        }

    </script>
    <script src= "../bower_components/angular/angular.js"></script>
    <link href= "../bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css"></script>
    <link href= "../bower_components/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet" type="text/css"></script>
  </head>
  <body ng-app="myApp">
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand">Currency Exchange Resource</a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#">Currency Converter</a></li>
            </ul>
          </div>
        </div>
    </nav>
      <div class="container-fluid">
        <div class="row">
            <div class="col-xs-1">
            </div>
            <div class="col-xs-6" ng-controller="TableController as vm">
              <div class="btn-group" role="group" aria-label="..." >
                <button type="button" class="btn btn-default" ng-click="vm.convert('USD')">USD</button>
                <button type="button" class="btn btn-default" ng-click="vm.convert('MXN')">MXN</button>
                <button type="button" class="btn btn-default" ng-click="vm.convert('EUR')">EUR</button>
                <!-- <button type="button" class="btn btn-default">EDIT</button>
                <button type="button" class="btn btn-default">DELETE</button> -->
              </div>
               <table class="table table-striped table-bordered">
                  <thead>
                    <tr>
                      <th>Transaction</th>
                      <th class="text-right">Amount</th>
                      <th></th>
                    </tr>
                  </thead>

                  <tbody id="theTable">
                    <!-- <tr id="templateRow" class='clickable-row'>
                        <td><input type="text" class="form-control" /></td>
                        <td><input type="number" pattern=" 0+\.[0-9]*[1-9][0-9]*$" class="form-control" /></td>
                    </tr> -->
                        <!-- <td><button class="btn btn-xs btn-primary" ng-click="vm.save()">
                            Save
                          </button>
                        </td> -->
                        <!-- <td class="text-center" ng-show="vm.sa">
                            <button class="btn btn-xs btn-primary"
                                    ng-click="vm.deleteProduct(item)">
                                Delete
                            </button>
                            <button class="btn btn-xs btn-primary" ng-click="vm.editProduct(item)">
                                Edit
                            </button>
                        </td> -->
                      <!-- </tr> -->
                    </tbody>
                </table>

              <!-- <button class="btn btn-primary" ng-click="vm.addRow()">New</button> -->
              <button class="btn btn-primary" ng-click="vm.save()">New</button>
              </div>
               <div class="col-xs-4">
                         <div class="page-header">
                           <h3>Currency Exchanges Rates</h3>
                         </div>
                         <h5 class="lead">Use this form to convert a specific amount from one currency<br>
                            to another using most recent exchange rates available on <br>
                            this site. These rates are provided by Yahoo API
                         </h5>
                         <div class="row" ng-controller="QConvertController as vm">
                           <div class="col-md-8 col-md-offset-2">
                             <div class="form-group">
                               <label for="amount">Amount</label>
                               <input type="number" step="any" class="form-control" id="amount" ng-model="vm.currencyObject.amount">
                             </div>
                           </div>
                           <div class="col-md-8 col-md-offset-2">
                               <div class="form-group">
                                <label for="from">From</label>
                                 <select class="form-control" id="from" ng-model="vm.currencyObject.from">
                                   <option ng-repeat="currencyCode in vm.currencyCodes" value="{{currencyCode.value}}" ng-click="vm.from(currencyCode.value)">{{currencyCode.display}}</option>
                                 </select>
                               </div>
                           </div>

                         <div class="col-md-8 col-md-offset-2">
                             <div class="form-group">
                              <label for="to">To</label>
                               <select class="form-control" id="to" ng-model="vm.currencyObject.to">
                                 <option ng-repeat="currencyCode in vm.currencyCodes" value="{{currencyCode.value}}" ng-click="vm.to(curr)">{{currencyCode.display}}</option>
                               </select>
                             </div>
                         </div>
                         <div class="col-md-8 col-md-offset-2">
                             <button type="button" class="btn btn-primary" ng-click="vm.convertCurrency()">Convert Currency</button>
                         </div>

                         <div class="col-md-8 col-md-offset-2" ng-show="vm.currencyObject.amount">
                             <h3 class="display-4" ng-If="vm.currencyObject.amountConverted != null">
                               {{vm.currencyObject.amount}} {{vm.currencyObject.from}}
                               <span>=</span>
                                 {{vm.currencyObject.amountConverted  | toDecimal:2}} {{vm.currencyObject.to}}
                             </h3>
                         </div>

                        </div>
                   </div>

                    </div>

          </div>

    <script type="text/javascript" src="currency.js"> </script>
  </body>
</html>
